.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
static/*
src/config.js
cfg/templates/test.js
cfg/templates/dev.js
cfg/templates/prod.js


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
