$success-color: #dff0d8;
$warning-color: #fcf8e3;
$danger-color: #f2dede;
$persona-parc-color: darkorange;

.right-align {
    display: flex;
    flex-direction: row-reverse;
}

.warning {
    background-color: $warning-color;
}

.danger {
    background-color: $danger-color;
}

.success {
    background-color: $success-color;
}


