/*
.warning {
    background-color: $warning-color;
}

.danger {
    background-color: $danger-color;
}

.success {
    background-color: $success-color;
}

.primary {
    background-color: $primary-color;
}
*/

