$success-color: #bdf0b5;
$warning-color: #fff8c2;
$danger-color: #ffbebe;
$primary-color: #CCCCff;
$persona-parc-color: darkorange;

.right-align {
    display: flex;
    flex-direction: row-reverse;
}

.warning {
    background-color: $warning-color;
}

.danger {
    background-color: $danger-color;
}

.success {
    background-color: $success-color;
}

.primary {
    background-color: $primary-color;
}


